.display > input::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
    appearance: none;
}


.display > input {
    text-align: right;
}


/** CALCULATOR BODY **/

.calculator {
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;

}

