.display > input::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
    appearance: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #131212;
}

.display > input {
    text-align: right;
    width: 100%;
}


/** CALCULATOR BODY **/

.calculator {
    border: 1px solid black;
    max-width: 400px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    min-height: 500px;
    background: #222;
}

.method-buttons {
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.method-buttons > button {
    flex-grow: 1;
}

input, button {
    font-size: 3em;
}

.container-op-dg {
    display: flex;
    gap: 10px;
    height: 100%;
}

.digit-buttons {
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-grow: 1;
    gap: 5px;

}
.digit-buttons > button {
    flex-basis: 0;
    min-width: 100px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator-buttons > .operator-btn {
    padding: 5px 10px;
}