.display > input::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
    appearance: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.display > input {
    text-align: right;
    width: 100%;
}


/** CALCULATOR BODY **/

.calculator {
    border: 1px solid black;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;

}

